.App {
  background-color: #fff8e8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rowCenter {
  display: flex;
  flex-direction: row;
}
.addTaskWrapper {
  height: 30vh;
}
.taskListWrapper {
  width: 50%;
  margin-top: 5vh;
}
